-
    var menu = [
        {img: "exit.png" },
        {img: "contacts.png" },
        {img: "bell.png" },
        {img: "academic.png" },
        {img: "calendar.png" }
    ];
mixin navItem
    ul.nav-menu-ul
        for inner in menu
            li.nav-menu-li
                img(src="img/" + inner.img)