<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1')
    title aes-g
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    nav
        include modules/nav
    