@font-face {
  font-family: "ptsanscaption";
  src: url("fonts/ptsanscaption.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
};
@font-face {
  font-family: "ptsanscaption";
  src: url("fonts/ptsanscaptionbold.ttf") format("truetype");
  font-style: bold;
  font-weight: 600;
};