* {
  box-sizing: border-box;
}
body {
  font-family: $ptsanscaption;
  font-size: 16px;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 1092px;
  height: 100%;
}
.nav {
  &-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    max-height: 1092px;
    height: 100%;
    &-ul {
      list-style: none;
      margin: 0;
      padding: 0;


    }
    &-li {
      margin-bottom: 25px;
      padding: 15px;
      &:hover {
        cursor: pointer;
        background: #DDDDDD;
        box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
      }
      img {
        width: 40px;
        height: 35px;
      }
    }
  }
}